<div class="footer-container">
    <img class="arrow-up" src="assets/img/content/arrow_up.png" alt="Arrow up" (click)="scrollToTop()">
    <img class="footer-logo" src="assets/img/content/logo_white.png" alt="Logo">
    <span class="footer-copyright">© Mike Meyer 2023</span>
    <div class="footer-links">
        <a href="https://github.com/mikemeyer186" target="_blank"><img src="assets/img/content/icon_github.png"
                alt="Link Github"></a>
        <a href="#" target="_blank"><img src="assets/img/content/icon_mail.png" alt="Link Mail"></a>
        <a href="https://www.linkedin.com/in/mike-meyer-7a99a0244" target="_blank"><img
                src="assets/img/content/icon_linkedin.png" alt="Link LinkedIn"></a>
    </div>
    <span class="footer-legal"><a href="#">Legal notice</a></span>

</div>