<div class="footer-container">
    <img class="arrow-up" src="assets/img/content/arrow_up.png" alt="Arrow up" (click)="scrollToTop()">
    <div class="logo-box">
        <img class="footer-logo" src="assets/img/content/logo_white.png" alt="Logo">
    </div>
    <span class="footer-copyright">© Mike Meyer 2024</span>
    <div class="footer-links">
        <a href="https://github.com/mikemeyer186" target="_blank">
            <img src="assets/img/content/icon_github.png" alt="Link Github"></a>
        <a href="mailto:contact@mike-meyer.dev?subject=Mail from your website" target="_blank">
            <img src="assets/img/content/icon_mail.png" alt="Link Mail"></a>
        <a href="https://www.linkedin.com/in/mike-meyer-dev" target="_blank">
            <img src="assets/img/content/icon_linkedin.png" alt="Link LinkedIn"></a>
    </div>
</div>
<div class="footer-legal">
    <span (click)="this.service.openLegalPage()" translate>Legal notice and data protection</span>
</div>

<div class="footer-legal">
    <br>
    <a target="_blank" href="https://icons8.de">Icons von Icons8.de</a>
</div>