<div class="about-container">
    <img class="bg-blue" src="assets/img/background/bg_blue.png" alt="Blue Background">
    <span class="header">About me</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate officia delectus esse ducimus corporis quae.
        Aspernatur dolorum quae a earum, quia tempora dolor dicta pariatur laborum qui sequi alias ex.</p>
    <div class="about-box">
        <div class="about-icon">
            <img src="assets/img/content/bulb.png" alt="Bulb">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo ullam, maxime dolorem, repellendus aperiam
            natus laudantium esse, quod ex magnam amet nemo quae temporibus fugit perferendis tenetur! Aliquid,
            aspernatur!</p>
    </div>
    <div class="about-box">
        <div class="about-icon">
            <img src="assets/img/content/puzzle.png" alt="Puzzle">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ea officia aperiam dolorem qui dolore,
            reprehenderit quos nobis nisi a maiores distinctio culpa cupiditate aut voluptas ipsum quas. Non, debitis.
        </p>
    </div>
</div>