<div id="about" class="about-container">
    <div class="about-text">
        <img class="bg-blue" src="assets/img/background/bg_blue.png" alt="Blue Background">
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
            <span class="header" translate>About me</span>
            <p translate>I am a passionated frontend developer with experience in developing responsive web
                applications. In my projects, I place a strong emphasis on modern user experience and clean code-design.
                As an IT enthusiast, I am open to the latest technologies and trends and always keep my knowledge up to
                date.</p>
        </div>
        <div data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="about-box">
            <div class="about-icon">
                <img src="assets/img/content/bulb.png" alt="Bulb">
            </div>
            <p translate>Throughout my career as a business administrator with focus on IT, I gained extensive
                experience in data engineering and worked on numerous IT-projects where software was implemented.
                Therefore, I am very familiar with the customer requirements in software development.</p>
        </div>
        <div data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="about-box">
            <div class="about-icon">
                <img src="assets/img/content/puzzle.png" alt="Puzzle">
            </div>
            <p translate>I acquired my developer skills at "Developer Akademie" in Munich. There, I gained experience in
                the frontend tech stack and the use of frameworks, libraries and APIs through many projects.
                Additionally, I learned an agile and team-oriented work approach based on the Scrum method.</p>
        </div>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="about-image">
        <img src="assets/img/content/portrait_2.png" alt="Portrait of frontend developer">
        <div class="rectangle"></div>
    </div>

</div>