.about-container {
  position: relative;
  color: #ffffff;
  padding: 0 30px 0 30px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding: 0 0 100px 80px;
  }

  @media (min-width: 1024px) {
    padding: 40px 0 100px 100px;
  }

  @media (min-width: 1200px) {
    padding: 60px 0 100px 130px;
  }

  @media (min-width: 1400px) {
    padding: 80px 0 100px 160px;
  }

  .about-text {
    width: 100%;
    padding-top: 80px;

    @media (min-width: 768px) {
      width: 55%;
      font-size: 1rem;
      text-align: justify;
      padding-top: 100px;
    }

    .bg-blue {
      position: absolute;
      height: 500px;
      top: -100px;
      right: -310px;
      z-index: 2;
      opacity: 0.7;
    }

    .header {
      font-size: 3rem;
      font-weight: 700;
    }

    .about-box {
      display: flex;
      align-items: center;

      .about-icon {
        min-width: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          flex-shrink: 0;
          height: 50px;
          object-fit: cover;
          transition: all 225ms ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .about-image {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 80px 0 0 60px;
    z-index: 3;

    @media (min-width: 768px) {
      display: flex;
    }

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid var(--sub-text-azure);
      background-color: var(--main-bg-color);

      @media (max-width: 800px) {
        width: 220px;
        height: 220px;
      }

      @media (max-width: 900px) {
        width: 250px;
        height: 250px;
      }

      @media (min-width: 1400px) {
        width: 350px;
        height: 350px;
      }

      @media (min-width: 1500px) {
        width: 400px;
        height: 400px;
      }

      @media (min-width: 1600px) {
        width: 450px;
        height: 450px;
      }
    }

    .rectangle {
      width: 72px;
      height: 2px;
      background-color: var(--sub-text-azure);

      @media (min-width: 1024px) {
        width: 92px;
      }

      @media (min-width: 1200px) {
        width: 122px;
      }

      @media (min-width: 1400px) {
        width: 152px;
      }
    }
  }
}