<div id="about" class="about-container">
    <img class="bg-blue" src="assets/img/background/bg_blue.png" alt="Blue Background">
    <span data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="header">About me</span>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Voluptate officia delectus esse ducimus corporis quae.
        Aspernatur dolorum quae a earum, quia tempora dolor dicta pariatur laborum qui sequi alias ex.</p>
    <div data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="about-box">
        <div class="about-icon">
            <img src="assets/img/content/bulb.png" alt="Bulb">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo ullam, maxime dolorem, repellendus aperiam
            natus laudantium esse, quod ex magnam amet nemo quae temporibus fugit perferendis tenetur! Aliquid,
            aspernatur!</p>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="about-box">
        <div class="about-icon">
            <img src="assets/img/content/puzzle.png" alt="Puzzle">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ea officia aperiam dolorem qui dolore,
            reprehenderit quos nobis nisi a maiores distinctio culpa cupiditate aut voluptas ipsum quas. Non, debitis.
        </p>
    </div>
</div>