.legal-container {
  position: relative;
  padding: 30px 30px 100px 30px;
  margin-bottom: 100px;
  color: white;

  a {
    color: white;
    text-decoration: underline;
  }
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  gap: 20px;
  padding: 120px 0 0 30px;

  .header {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .rectangle {
    width: 70px;
    height: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--sub-text-blue);
  }
}
