<div class="projects-container">
    <div class="header-box">
        <div class="rectangle"></div>
        <span class="header">Portfolio</span>
        <div class="rectangle-right"></div>
    </div>
    <p>This page is a sample of my work - please feel free to try them out.</p>
    <div class="projects-box">
        <div class="project-wrapper">
            <img src="assets/img/content/join.png" alt="Project: Join">
            <div class="description-box">
                <span class="project-title">Join</span>
                <span class="project-stack">Angular | TypeScript | HTML | CSS | Firebase </span>
                <span class="project-description">Task manager inspired by the Kanban system. Create and organize tasks
                    by
                    using drag and drop functions and assign users and categories. </span>
                <div class="button-box">
                    <button class="button-blue">Live test</button>
                    <button class="button-dark">Github</button>
                </div>
            </div>
        </div>
    </div>
</div>