<div id="portfolio" class="projects-container">
    <img class="bg-big-blue" src="assets/img/background/bg_big_blue.png">
    <div data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-sine" class="header-box">
        <div class="rectangle"></div>
        <span class="header">Portfolio</span>
        <div class="rectangle-right"></div>
    </div>
    <p data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-sine" translate>Portfolio_text</p>

    <div *ngFor="let project of projects; let odd = odd" class="projects-box">
        <div class="project-wrapper" [class.odd-child]="odd">
            <img data-aos="zoom-out-up" data-aos-duration="600" data-aos-easing="ease-in-sine"
                data-aos-anchor-placement="center-bottom" src="assets/img/content/{{ project.image }}">
            <div class="description-box">
                <span class="project-title">{{ project.title }}</span>
                <span class="project-stack">{{ project.stack }}</span>
                <span *ngIf="this.service.langEnglish" class="project-description">{{ project.description.en
                    }}</span>
                <span *ngIf="!this.service.langEnglish" class="project-description">{{ project.description.de
                    }}</span>
                <span *ngIf="project.link_info" class="project-description">
                    Info: <a href="{{ project.link_info }}" target="_blank">{{ project.link_info }}</a>
                </span>
                <div class="button-box">
                    <div *ngIf="project.link_live">
                        <a href="{{ project.link_live }}" target="_blank"><button class="button-blue button-effect">Live
                                test</button></a>
                    </div>
                    <div *ngIf="project.link_git">
                        <a href="{{ project.link_git }}" target="_blank"><button
                                class="button-dark button-effect">Github</button></a>
                    </div>
                    <div *ngIf="!project.link_git">
                        <button class="button-dark button-no-effect">Private Repository</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>