<div id="portfolio" class="projects-container">
    <img class="bg-big-blue" src="assets/img/background/bg_big_blue.png">
    <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="header-box">
        <div class="rectangle"></div>
        <span class="header">Portfolio</span>
        <div class="rectangle-right"></div>
    </div>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine" translate>This page is a sample of my
        work -
        please feel free to try them out.</p>

    <div *ngFor="let project of projects; let odd = odd" class="projects-box">
        <div class="project-wrapper" [class.odd-child]="odd">
            <img data-aos="flip-up" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                data-aos-anchor-placement="bottom-bottom" src="assets/img/content/{{ project.image }}">
            <div class="description-box">
                <span class="project-title">{{ project.title }}</span>
                <span class="project-stack">{{ project.stack }}</span>
                <span *ngIf="this.service.langEnglish" class="project-description">{{ project.description.en
                    }}</span>
                <span *ngIf="!this.service.langEnglish" class="project-description">{{ project.description.de
                    }}</span>
                <div class="button-box">
                    <a href="{{ project.link_live }}" target="_blank"><button class="button-blue">Live
                            test</button></a>
                    <a href="{{ project.link_git }}" target="_blank"><button class="button-dark">Github</button></a>
                </div>
            </div>
        </div>
    </div>
</div>