.projects-container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-top: 100px;
  }

  .bg-big-blue {
    position: absolute;
    height: 500px;
    top: 710px;
    left: 10px;
    transform: rotate(22deg);
    z-index: -1;
    opacity: 0.7;

    @media (min-width: 768px) {
      height: 700px;
      left: -290px;
    }
  }

  .header-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    gap: 20px;

    .header {
      font-size: 3rem;
      font-weight: 700;
    }
    .rectangle {
      width: 20px;
      height: 4px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: var(--sub-text-blue);
    }

    .rectangle-right {
      width: 75px;
      height: 4px;
      background-color: var(--sub-text-blue);

      @media (min-width: 768px) {
        width: calc(50vw - 124px);
      }
    }
  }
  p {
    padding: 0 30px;
    text-align: center;
    color: #ffffff;

    @media (min-width: 768px) {
      padding: 0 72px 0 80px;
      margin-bottom: 40px;
    }
    @media (min-width: 1024px) {
      padding: 0 92px 0 100px;
    }
    @media (min-width: 1200px) {
      padding: 0 122px 0 130px;
    }
    @media (min-width: 1400px) {
      padding: 0 152px 0 160px;
    }
  }

  .projects-box {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (min-width: 768px) {
      padding: 0 72px 0 80px;
    }
    @media (min-width: 1024px) {
      padding: 0 92px 0 100px;
    }
    @media (min-width: 1200px) {
      padding: 0 122px 0 130px;
    }
    @media (min-width: 1400px) {
      padding: 0 152px 0 160px;
    }

    .project-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
      }

      @media (min-width: 1200px) {
        gap: 40px;
      }

      @media (min-width: 1400px) {
        gap: 60px;
      }

      img {
        max-width: 390px;
        max-height: 600px;
        object-fit: contain;
        margin-bottom: 12px;

        @media (max-width: 400px) {
          width: 100%;
        }
      }

      .description-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transform: translateY(-50px);
        width: 100%;

        @media (min-width: 768px) {
          width: 50%;
          transform: translateY(0px);
        }

        @media (min-width: 1200px) {
          width: 40%;
        }

        @media (min-width: 1400px) {
          width: 35%;
        }

        .project-title {
          font-size: 2rem;
          font-weight: 700;
          color: var(--sub-text-blue);
          width: 100%;
          text-align: center;
        }

        .project-stack {
          width: 260px;
          font-size: 1.5rem;
          font-weight: 400;
          color: var(--sub-text-azure);
          text-align: center;
          width: 100%;
        }

        .project-description {
          color: #ffffff;
          text-align: center;
          width: 100%;

          a {
            color: #ffffff;
          }
        }

        .button-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          margin-top: 10px;

          @media (max-width: 350px) {
            flex-direction: column;
          }

          a {
            text-decoration: none;
            color: #ffffff;
            font-size: 18px;
          }

          .button-blue {
            background-color: var(--sub-text-blue);
            border: none;
          }

          .button-dark {
            background-color: var(--main-bg-color);
            border: 1px solid var(--sub-text-azure);
          }

          .button-effect {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            width: 133px;
            height: 49px;
            color: #ffffff;
            padding: 15px;
            font-size: 18px;
            cursor: pointer;
            transition: all 125ms ease-in-out;
            &:hover {
              background-color: var(--sub-text-azure);
            }
          }

          .button-no-effect {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            width: 133px;
            height: 49px;
            color: #ffffff;
            padding: 15px;
            font-size: 18px;
            cursor: pointer;
            transition: all 125ms ease-in-out;
            &:hover {
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  .odd-child {
    @media (min-width: 768px) {
      flex-direction: row-reverse !important;
    }
  }
}
