<div id="contact" class="contact-container">
    <img class="bg-big-light" src="assets/img/background/bg_big_light.png">
    <img class="bg-big-blue" src="assets/img/background/bg_big_blue.png">
    <div class="header-box">
        <div class="rectangle"></div>
        <span id="contact" class="header">Contact</span>
    </div>
    <div class="form-wrapper">
        <span class="form-header">Got a problem to solve?</span>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
            projects with my work.</p>

        <form [formGroup]="contactForm" (submit)="sendMail()">

            <div class="form-box">
                <ng-container *ngIf="contactForm.controls['sender'] as sender">
                    <input formControlName="sender" name="name" type="text" placeholder="Your name">
                    <ng-container *ngIf="sender.invalid && sender.dirty">
                        <span class="error-message">Your name is required</span>
                        <img class="error-icon" src="assets/img/content/form_red.png">
                    </ng-container>
                    <ng-container *ngIf="sender.valid">
                        <img class="check-icon" src="assets/img/content/form_green.png">
                    </ng-container>
                </ng-container>
            </div>

            <div class="form-box">
                <ng-container *ngIf="contactForm.controls['email'] as email">
                    <input formControlName="email" name="email" type="email" placeholder="Your email">
                    <ng-container *ngIf="email.invalid && email.dirty">
                        <span class="error-message">Your email is required</span>
                        <img class="error-icon" src="assets/img/content/form_red.png">
                    </ng-container>
                    <ng-container *ngIf="email.valid">
                        <img class="check-icon" src="assets/img/content/form_green.png">
                    </ng-container>
                </ng-container>
            </div>

            <div class="form-box">
                <ng-container *ngIf="contactForm.controls['message'] as message">
                    <textarea formControlName="message" name="message" cols="30" rows="30"
                        placeholder="Your message"></textarea>
                    <ng-container *ngIf="message.invalid && message.dirty">
                        <span class="error-message">Your message is empty</span>
                        <img class="error-icon" src="assets/img/content/form_red.png">
                    </ng-container>
                    <ng-container *ngIf="message.valid">
                        <img class="check-icon" src="assets/img/content/form_green.png">
                    </ng-container>
                </ng-container>
            </div>

            <div class="form-box">
                <button [disabled]="!contactForm.valid" [class.disabledBtn]="!contactForm.valid" type="submit">Send
                    message</button>
                <ng-container *ngIf="this.mailSent">
                    <span class="sent-message">Your message has been sent</span>
                </ng-container>
            </div>
        </form>
    </div>
</div>