.contact-container {
  position: relative;
  padding-top: 80px;
  margin-bottom: 190px;

  .bg-big-light {
    position: absolute;
    height: 500px;
    top: -160px;
    right: -270px;
    transform: rotate(200deg);
    z-index: -1;
    opacity: 0.7;
  }

  .bg-big-blue {
    position: absolute;
    height: 280px;
    bottom: -100px;
    left: -70px;
    z-index: -1;
    opacity: 0.7;
  }

  .header-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    gap: 20px;

    .header {
      font-size: 3rem;
      font-weight: 700;
    }
    .rectangle {
      width: 10px;
      height: 4px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: var(--sub-text-blue);
    }
  }

  .form-wrapper {
    padding: 0 30px;
    color: #ffffff;

    .form-header {
      font-size: 1.5rem;
      font-weight: 700;
    }

    form {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      gap: 40px;

      fieldset {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 40px;
        border: none;
        padding: 0;
      }

      .form-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .error-message {
          width: 100%;
          color: #e61c40;
          font-size: 0.7rem;
          font-weight: 300;
          position: absolute;
          left: 0;
          bottom: -20px;
          padding-left: 10px;
          transition: all 225ms ease-in-out;
        }

        .sent-message {
          width: 100%;
          color: #70e61c;
          font-size: 0.7rem;
          font-weight: 300;
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
          bottom: -25px;
          transition: all 225ms ease-in-out;
        }

        .error-icon {
          position: absolute;
          width: 20px;
          object-fit: cover;
          right: 25px;
          top: 10px;
          transition: all 225ms ease-in-out;
        }

        .check-icon {
          position: absolute;
          width: 20px;
          object-fit: cover;
          right: 25px;
          top: 10px;
          transition: all 225ms ease-in-out;
        }
      }

      input,
      textarea {
        width: 100%;
        height: 40px;
        border: 1px solid var(--sub-text-blue);
        border-radius: 10px;
        background-color: var(--bg-blue);
        color: #ffffff;
        outline: none;
        padding: 15px 60px 15px 25px;
        transition: all 225ms ease-in-out;

        &::placeholder {
          color: #ffffff;
          font-family: "Poppins", sans-serif;
        }

        &:focus,
        &:hover {
          border: 1px solid var(--sub-text-azure);
        }

        &.ng-dirty {
          border: 1px solid #e61c40;
        }

        &.untouched,
        &.pristine {
          border: 1px solid var(--sub-text-blue);
        }

        &.ng-valid {
          border: 1px solid #70e61c;
        }
      }

      textarea {
        font-family: "Poppins", sans-serif;
        display: block;
        resize: none;
        height: 160px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00bee8;
        border-radius: 10px;
        border: none;
        min-width: 180px;
        height: 49px;
        color: #ffffff;
        padding: 15px;
        font-size: 18px;
        transition: all 225ms ease-in-out;
      }

      .disabledBtn {
        background-color: #00bee856;
        color: #ffffff82;
      }

      .load-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: linear-gradient(90deg, #ffffff 0%, transparent 90%);
        border-radius: 50%;
        animation: spin 1s linear infinite;

        .load-spinner-inner {
          z-index: 1;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #00bee8;
        }
      }
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
