.main-container {
  overflow-x: hidden;
  padding-top: var(--offset-header);

  .main-image {
    .main-blue-bg {
      width: 120%;
      height: 60%;
      transform: translateX(-10%);
      opacity: 0.7;
    }

    .main-portrait {
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(10%);
      z-index: 1;
    }

    .main-dark-bg {
      width: 120%;
      height: 47%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
  }
}
