<div id="top" class="main-container">
    <div class="main-image">
        <img class="main-blue-bg" src="assets/img/background/bg_big_foto.png" alt="Blue und light blue backgroound">
        <img class="main-portrait" src="assets/img/content/portrait_2.png" alt="Portrait Mike">
        <img class="main-dark-bg" src="assets/img/background/bg_dark.png" alt="Dark background">

        <div class="main-header">
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="main-header-left">
                <span>I am</span>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="main-header-right">
                <span class="main-header-right-name">Mike Meyer</span>
                <span class="main-header-right-sub">Frontend Developer</span>
            </div>
        </div>

    </div>


    <div data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="main-button">
        <button (click)="service.scrollToElement('contact')" translate>Let's talk!</button>
    </div>
    <div class="main-footer">
        <div class="main-footer-left">
            <div class="rectangle"></div>
        </div>
        <div class="main-footer-mid">
            <a href="https://github.com/mikemeyer186" target="_blank">
                <img src="assets/img/content/icon_github.png" alt="Link Github"></a>
            <a href="mailto:contact@mike-meyer.dev?subject=Mail from your website">
                <img src="assets/img/content/icon_mail.png" alt="Link Mail"></a>
            <a href="https://www.linkedin.com/in/mike-meyer-7a99a0244" target="_blank">
                <img src="assets/img/content/icon_linkedin.png" alt="Link LinkedIn"></a>
        </div>
        <div class="main-footer-right">
            <div class="rectangle transparent"></div>
        </div>
    </div>