.main-container {
  overflow-x: hidden;
  padding-top: var(--offset-header);
  position: relative;
  height: 100vh;

  .main-image {
    position: relative;
    height: 60%;

    .main-blue-bg {
      height: 120%;
      transform: translateX(-17%);
      opacity: 0.7;
    }

    .main-portrait {
      width: 420px;
      object-fit: cover;
      position: absolute;
      top: 40px;
      left: -12px;
      z-index: 1;
    }

    .main-dark-bg {
      width: 170%;
      height: 100%;
      position: absolute;
      top: 130px;
      left: 0;
      z-index: 2;
    }
  }

  .main-header {
    position: absolute;
    bottom: 40px;
    left: -10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-header-left {
      color: #ffffff;
      transform: rotate(270deg);
      font-size: 2rem;
      z-index: 3;
    }

    .main-header-right {
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      line-height: 2.7rem;
      z-index: 3;

      .main-header-right-name {
        font-size: 3rem;
        font-weight: 700;
      }

      .main-header-right-sub {
        font-size: 2rem;
        color: var(--sub-text-blue);
      }
    }
  }

  .main-button {
    position: absolute;
    bottom: 240px;
    left: 0;
    right: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background-color: #00bee8;
      border-radius: 10px;
      border: none;
      width: 133px;
      height: 49px;
      color: #ffffff;
      padding: 15px 30px;
    }
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    z-index: 5;

    .main-footer-mid {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .rectangle {
      width: 64px;
      height: 4px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: var(--sub-text-blue);
    }
  }
}
