<div class="main-container">
    <div class="main-image">
        <img class="main-blue-bg" src="assets/img/background/bg_big_foto.png" alt="Blue und light blue backgroound">
        <img class="main-portrait" src="assets/img/content/portrait.png" alt="Portrait Mike">
    </div>
    <div class="main-header">
        <img class="main-dark-bg" src="assets/img/background/bg_dark.png" alt="Dark background">
        <div class="main-header-left">
            <span>I am</span>
        </div>
        <div class="main-header-right">
            <span class="main-header-right-name">Mike Meyer</span>
            <span class="main-header-right-sub">Frontend Developer</span>
        </div>
    </div>
    <div class="main-button">
        <button>Let's talk!</button>
    </div>
    <div class="main-footer">
        <div class="main-footer-left">
            <div class="rectangle"></div>
        </div>
        <div class="main-footer-mid">
            <img src="assets/img/content/icon_github.png" alt="Link Github">
            <img src="assets/img/content/icon_mail.png" alt="Link Mail">
            <img src="assets/img/content/icon_linkedin.png" alt="Link LinkedIn">
        </div>
        <div class="main-footer-right">
            <div class="rectangle transparent"></div>
        </div>
    </div>