.main-container {
  overflow: hidden;
  padding-top: var(--offset-header);
  position: relative;

  .main-image {
    position: relative;
    height: 650px;

    @media (min-width: 768px) {
      height: 520px;
    }

    .main-blue-bg {
      position: absolute;
      top: 20px;
      height: 120%;
      transform: translateX(-189px);
      opacity: 0.7;

      @media (min-width: 768px) {
        height: 25%;
        top: 0px;
      }
    }

    .main-portrait {
      width: 420px;
      object-fit: cover;
      position: absolute;
      top: 37px;
      left: -12px;
      z-index: 1;

      @media (max-width: 400px) {
        left: -42px;
      }
      @media (max-width: 300px) {
        left: -62px;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }

    .main-dark-bg {
      width: 170%;
      height: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      z-index: 2;

      @media (min-width: 768px) {
        width: 120%;
        height: 60%;
        top: 290px;
      }
    }
  }

  .main-header {
    position: absolute;
    top: 360px;
    left: -10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      top: 100px;
      left: -20px;
      right: 0;
      justify-content: center;
    }

    .main-header-left {
      color: #ffffff;
      transform: rotate(270deg);
      font-size: 2rem;
      z-index: 3;

      @media (max-width: 400px) {
        font-size: 1.5rem;
      }
      @media (max-width: 300px) {
        font-size: 1rem;
      }
      @media (min-width: 768px) {
        font-size: 4rem;
      }
    }

    .main-header-right {
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      line-height: 2.7rem;
      z-index: 3;

      @media (max-width: 400px) {
        line-height: 2rem;
      }
      @media (max-width: 300px) {
        line-height: 1.5rem;
      }
      @media (min-width: 768px) {
        line-height: 5rem;
      }

      .main-header-right-name {
        font-size: 3rem;
        font-weight: 700;

        @media (max-width: 400px) {
          font-size: 2rem;
        }
        @media (max-width: 300px) {
          font-size: 1.5rem;
        }
        @media (min-width: 768px) {
          font-size: 5rem;
        }
      }

      .main-header-right-sub {
        font-size: 2rem;
        color: var(--sub-text-blue);

        @media (max-width: 400px) {
          font-size: 1.5rem;
        }
        @media (max-width: 300px) {
          font-size: 1rem;
        }
        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }
  }

  .main-button {
    position: absolute;
    width: 100%;
    top: 500px;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      top: 300px;
      left: 0;
      right: 0;
      justify-content: center;
    }

    button {
      cursor: pointer;
      background-color: #00bee8;
      border-radius: 10px;
      border: none;
      min-width: 133px;
      height: 49px;
      color: #ffffff;
      padding: 15px;
      font-size: 18px;
    }
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 600px;
    z-index: 5;

    @media (max-height: 800px) and (min-width: 768px) {
      top: 470px;
    }
    @media (min-width: 768px) {
      justify-content: flex-start;
      gap: 30px;
    }

    .main-footer-mid {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .rectangle {
      width: 64px;
      height: 4px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: var(--sub-text-blue);

      @media (max-width: 400px) {
        width: 44px;
      }
      @media (max-width: 300px) {
        width: 24px;
      }
      @media (min-width: 768px) {
        width: 96px;
      }
    }
  }

  .scroll-down-info {
    position: absolute;
    right: 0;
    bottom: 50px;
    transform: rotate(90deg);
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--main-txt-color);
    font-weight: 300;
    gap: 10px;
    cursor: pointer;

    @media (min-width: 768px) {
      display: flex;
    }

    img {
      transform: rotate(270deg);
    }
  }
}
