<div class="header-mobile" [class.transparent]="service.menuIsOpen">
    <div class="header-mobile-logo">
        <img src="assets/img/content/logo_white.png" alt="Logo">
    </div>
    <div class="header-mobile-menu">
        <img (click)="menuAnimation()" src="{{ service.currentMenuImage }}" alt="Menu">
    </div>
    <div class="header-desktop-nav">
        <nav>
            <span (click)="service.scrollToElement('top')" translate>Home</span>
            <span (click)="service.scrollToElement('about')" translate>About me</span>
            <span (click)="service.scrollToElement('portfolio')" translate>Portfolio</span>
            <span (click)="service.scrollToElement('contact')" translate>Contact</span>
            <span (click)="service.openLegalPage()" translate>Legal notice</span>
            <div class="langBox">
                <span (click)="changeLanguage('en')" class="lang"
                    [class.activeLanguage]="this.service.langEnglish">EN</span>
                <span class="rectangle"></span>
                <span (click)="changeLanguage('de')" class="lang"
                    [class.activeLanguage]="!this.service.langEnglish">DE</span>
            </div>
        </nav>
    </div>
</div>