<div id="skills" class="skills-container">
    <img class="bg-azure" src="assets/img/background/bg_azure.png" alt="Azure Background">
    <div class="skills-header">
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="header-box">
            <span class="header">Skills</span>
            <div class="rectangle"></div>
        </div>
        <p data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine" translate>I have gained experience
            in
            building projects with various front end technologies and concepts.</p>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="button-box-desktop">
            <button (click)="service.scrollToElement('contact')" translate>Get in touch</button>
        </div>
    </div>
    <div class="skills-box">
        <p data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine" translate>I have gained experience
            in
            building projects with various front end technologies and concepts.</p>
        <div class="skills-icons">
            <div data-aos="fade-up-right" data-aos-duration="1200" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/angular.png" alt="Angular">
                <span>Angular</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1100" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/typescript.png" alt="Typescript">
                <span>TypeScript</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/javascript.png" alt="Javascript">
                <span>JavaScript</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1100" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/html.png" alt="HTML">
                <span>HTML</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1200" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/css.png" alt="CSS">
                <span>CSS</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1300" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/material.png" alt="Material">
                <span>Material</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1200" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/api.png" alt="API">
                <span>REST APIs</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1300" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/firebase.png" alt="Firebase">
                <span>Firebase</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1400" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/git.png" alt="Git">
                <span>Git</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1400" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/scrum.png" alt="Scrum">
                <span>Scrum</span>
            </div>
        </div>
        <div class="button-box">
            <button (click)="service.scrollToElement('contact')" translate>Get in touch</button>
        </div>
    </div>