<div id="skills" class="skills-container">
    <img class="bg-azure" src="assets/img/background/bg_azure.png" alt="Azure Background">
    <div class="skills-header">
        <div data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-sine" class="header-box">
            <span class="header">Skills</span>
            <div class="rectangle"></div>
        </div>
        <p data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-sine" translate>Skills_text</p>
        <p style="margin-top: 315px;" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-sine"
            translate>Skills_text2</p>
        <div data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-sine" class="button-box-desktop">
            <button (click)="service.scrollToElement('contact')" translate>Get in touch</button>
        </div>
    </div>
    <div class="skills-box">
        <p data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-sine" translate>Skills_text</p>
        <div class="skills-icons">
            <div data-aos="fade-up-right" data-aos-duration="600" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/angular.png" alt="Angular">
                <span>Angular</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="600" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/react.png" alt="React">
                <span>React</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="600" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/svelte.png" alt="Svelte">
                <span>Svelte</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="650" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/typescript.png" alt="Typescript">
                <span>TypeScript</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="650" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/javascript.png" alt="Javascript">
                <span>JavaScript</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="650" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/html.png" alt="HTML">
                <span>HTML</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="700" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/css.png" alt="CSS">
                <span>CSS</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="700" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/material.png" alt="Material">
                <span>Material</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="700" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/api.png" alt="API">
                <span>REST APIs</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="750" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/firebase.png" alt="Firebase">
                <span>Firebase</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="800" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/git.png" alt="Git">
                <span>Git</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="800" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/scrum.png" alt="Scrum">
                <span>Scrum</span>
            </div>
        </div>

        <p data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-sine" translate>Skills_text2</p>
        <div class="skills-icons skills-icons-bottom">
            <div data-aos="fade-up-right" data-aos-duration="600" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/it-security.png" alt="IT-Security">
                <span>IT-Security</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="600" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/linux.png" alt="Linux">
                <span>Linux</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="750" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/kali-linux.png" alt="Kali Linux">
                <span>Kali Linux</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="600" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/python.png" alt="Python">
                <span>Python</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="650" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/docker.png" alt="Docker">
                <span>Docker</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="650" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/ci-cd.png" alt="CI/CD">
                <span>CI/CD</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="650" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/cloud.png" alt="Cloud">
                <span>Cloud</span>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="700" data-aos-easing="ease-in-sine"
                class="skills-icons-box">
                <img src="assets/img/content/shell.png" alt="Shell">
                <span>Shell</span>
            </div>

        </div>
    </div>
    <div class="button-box">
        <button (click)="service.scrollToElement('contact')" translate>Get in touch</button>
    </div>
</div>