.page-container {
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.menu-mobile {
  transform: translateX(100vw);
  transition: all 250ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.slidedIn {
  transform: translateX(0) !important;
}
