<div class="menu-mobile">
    <nav>
        <ul>
            <li (click)="service.scrollToElement('top')" translate>
                <span id="top-link" class='menu-link'>Home</span>
            </li>
            <li (click)="service.scrollToElement('about')" translate>
                <span id="about-link" class='menu-link'>About me</span>
            </li>
            <li (click)="service.scrollToElement('skills')" translate>
                <span id="skills-link" class='menu-link'>Skills</span>
            </li>
            <li (click)="service.scrollToElement('portfolio')" translate>
                <span id="portfolio-link" class='menu-link'>Portfolio</span>
            </li>
            <li (click)="service.scrollToElement('contact')" translate>
                <span id="contact-link" class='menu-link'>Contact</span>
            </li>
            <li (click)="service.openLegalPage()" translate>
                <span id="legal-link" class='menu-link'>Legal notice</span>
            </li>
        </ul>
    </nav>
    <div class="langBox">
        <span (click)="changeLanguage('en')" class="lang" [class.activeLanguage]="this.service.langEnglish">EN</span>
        <span>|</span>
        <span (click)="changeLanguage('de')" class="lang" [class.activeLanguage]="!this.service.langEnglish">DE</span>
    </div>
</div>