@import url(./models/fonts.css);
@import url(./models/aos.css);

:root {
  --main-bg-color: #141d2f;
  --main-txt-color: #ffffff;
  --offset-header: 80px;
  --sub-text-blue: #4b47ff;
  --sub-text-azure: #00bee8;
}

* {
  box-sizing: border-box;
}

html {
  //scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}

.transparent {
  background-color: transparent !important;
}

.no-scroll {
  overflow: hidden;
}
